body {
    background: rgb(47, 141, 186);
    background: linear-gradient(90deg, rgba(47, 141, 186, 1) 0%, rgba(166, 200, 228, 1) 50%, rgba(225, 242, 245, 1) 100%);
    margin: 0;
}

.Main-radio-banner {
    font-family: 'Dancing Script', cursive;
    background-image: url('morocco.png');
    width: 100%;
    height: 250px;
    border: 10px grey solid;
    padding-left: 150px;
    box-sizing: border-box;
}

.Main-radio-banner h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding: 10px 70px;
}

.radio_sermon_links {
    padding-left: 20px;
}

#main-footer {
    background-color: rgb(6, 8, 139);
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    margin-top: 300px;
}

a {
    color: #852406;
}

a:visited {
    color: rgb(241, 226, 9);
}

hr {
    border-bottom: 30px;
}